<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>iCloudContainerEnvironment</key>
	<string>Development</string>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.intrepid.SiliconLabsApp</key>
		<string>fdef31f9-216d-4101-9484-6b711c2fbcce</string>
		<key>io.intrepid.silabs.WirelessGecko</key>
		<string>3c92baf4-56de-4f53-968d-0569317d162f</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>THP5EV5EJ9</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
